*{
    margin: 0;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #e7e5df;
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    color:white;
    transition: all 0.5s ease;
}
.logo{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #FCA311;
}
.a{
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}
.header .button{
    display: none;
}
.header .svg{
    width:3em;
    height:3em;
    fill:#ffff;
}
/*-----------BOTONES-------------*/
.header .ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
}
li {
    list-style-type: none;
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    margin-left: 2%;
    text-decoration: none;
    font-family: Arial;
    font-weight: lighter;
}
li:hover{
    background-color: #f0efef;
    color: #FCA311;
}
li:active {
    transform: translateY(-1px);
}
.header .li{
    margin: 0 .5em;
}

/*------------------*/
.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1px));
    grid-auto-rows: 250px;
    gap: 2rem;
    min-height: 65vh;
    padding: 2% 0;
    justify-content: center;
    background-color: #f5f5f5;
    transition: all 0.5s ease;
}
/*------------CARTAS--------------*/
.card {
    /*width: 100%;
    height: 180px;*/
    padding: 2%;
    margin:1%;
    border-radius: 2.5%;
    background-color: #ece9e3;
    color: #686363;
    font-family: Arial;
    overflow-x: hidden;
    transition: all 0.5s ease;
}
.date{
    margin: 2% 0;
}
.card h2{
    font-size: 140%;
}
.card p{
    margin-top: 6%;
    margin-left: 3%;
}

.card::after{
    height: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: #17181D;

}

::-webkit-scrollbar-thumb{
    background-color: rgb(107 114 128);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(85, 91, 102);
    border-radius: 50px;
}

.card h2 {
    text-align: center;
    font-family: Arial;
    font-weight: lighter;
    overflow: hidden;
}
/*------------MOMO--------------*/
.bardo{
    display: none;
}
/*------------footer--------------*/
.footer{
    transition: all 0.5s ease;
    background-color: #f8f6f2;
    color: #ffff;
    width: 100%;
    min-height: 30%;
    font-family: Arial;
    font-weight: lighter;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

}
.footer .ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    
}
.footer .li:hover{
    background-color: #f0efef;
    color: #FCA311;
}
.container-footer{
    width: 75%;
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(156 163 175);
    margin-top: 2%;
}
.footer-text{
    width: 50%;   
}
/*----------MODO OSCURO-------*/
#dark-mode{
    background-color: #fff;
    width: 172px;
    height: 45px;
    border-radius: 45px;
    box-shadow: inset 4px 4px 6px #cecece,
                inset -4px -4px 6px #fff;
    cursor: pointer;
}
.toggle{
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    transform: scale(.7);
    background: linear-gradient(145deg,#d8d8d8, #ffff);
    transition: all 0.5s ease;
    border-radius: 25px;
    box-shadow: 3px 3px 8px #c4c4c4,
                -3px -3px 8px #ffff;
}
#dark-mode.active .toggle {
    transition: all 0.5s ease;
    margin-left: 125px;
    background: linear-gradient(145deg,#000000, #5b5757);
    transition: all 0.5s ease;
    box-shadow: 3px 3px 8px #2b2b2b,
                -3px -3px 8px #3d3535;
}

header.active{
    transition: all 0.5s ease;
    background-color: #17181D;
}
.li.active{
    color: #ffff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.li.active:hover{
    background-color: rgb(35, 36, 44);
    color: #FCA311;
}
#dark-mode.active{
    transition: all 0.5s ease;
    background-color: #1c1e25;
    box-shadow: inset 4px 4px 6px #000000,
                inset -4px -4px 6px #060606;
}

.container.active{
    transition: all 0.5s ease;
    background-color: #1c1e25;
}
.card.active{
    transition: all 0.5s ease;
    background-color: #5a6170 !important;
    color: #cecece;
}
.footer.active{
    transition: all 0.5s ease;
    background-color: #17181D;
    color: #ffff;
}



@media screen and (min-width:890px) and (max-width:1024px) {
    .header{
        justify-content: center;
    }
    
}
/*------------------*/
@media screen and (min-width: 209px) and (max-width:889px) {
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }
    .container {
        transition: opacity 0.3s ease;
        opacity: 1;
    }
      
    .container.activo {
        opacity: 0;
        pointer-events: none; 
    }
    .container {
       
        /*min-height: 100vh;*/
        max-width: 911px;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1px));
        grid-auto-rows: 260px;
    }
    .container.activo{
        display: none;
    }
    
    .card {
        /*height: 100%;*/
        padding: 2%;
        margin-top:4%;
        border-radius: 2.5%;
    }
    .header .button{
        display: block;
        cursor: pointer;
        background-color: transparent;
        border: none;
    }
    .header .nav{
        width:100%;
        /* display: none; */
        height:0;
        pointer-events: none;
        overflow: hidden;
        transition: all .5s ease;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .header {
        transition: opacity 0.3s ease;
        opacity: 1;
    }
    .header.activo{
        background-color: #17181D;
    }
    .header .nav.activo{
        /* display: block; */
        background-color: #17181D;
        height:93vh;
        pointer-events: auto;
    }
    .header .svg.activo{
        fill:#ffff;
    }
    .header .ul{
        flex-direction: column;
        padding: 0;
    }
    .header .li{
        margin: 1rem 0;
        color: #ffff;
    }
    li{
        width: 100px;
        justify-content: center;
        display: flex;
    }
    .bardo{
        display: none;
    }
    .footer{
        justify-content: space-evenly;
        display: flex;
        padding: 5% 0;
    }
    .container-footer{
        width: 90%;
        justify-content: space-between;
        flex-direction: column;
        display: flex;
    }
    .footer .ul{
        flex-direction: row;
        padding: 0;
        margin: 2% 0;
    }
    .footer .li{
        padding: 1.2em 1em;
        margin: 0;
    }
    .footer-text{
        width: 90%;

        text-align: center;
    }
    .footer.activo{
        display: none;
    }
}
/*---------TROLEO xd------------------*/
@media screen and (max-width:208px) {
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        align-items:center;
        justify-content: center;
        display: flex;
    }
    .header{
        display: none;
    }
    .container{
        display: none;
    }
    .bardo{
        flex-direction: column;
        align-items: center;
        display: flex;
    }
    .footer{
        display: none;
    }
}
/*------------MODO OSCURO POR SISTEMA----------
@media (prefers-color-scheme:dark){
    .header{
        background-color: #526D82;
    }
    .logo{
        color: #9DB2BF;
    }
    .container{
        background-color: #424242;
    }
    .card{
        background-color:#526D82 ;
        color: #ffff;
    }
    .footer{
        background-color: #526D82;
        color:#ffff;
    }
}*/